.board_container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.board_head_Text {
    padding: 10px 0px 10px 0px; 
    font-size: 36px;
}

.write_form_container {
    width: 100%;
    height: 100px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px black;
    margin-bottom: 30px;
}

.write_form {
    /* width: 100%; */
    height: 100%;
    position: relative;
    margin-top: 10px;
    display: flex;
}

.write_form > input {
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 10px;
}

.write_button {
    width: 50px;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.board-list-container {
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px black;
}

.list_scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}

.list_scroll::-webkit-scrollbar {
    width: 7px;
    background-color: none;
}

.list_scroll::-webkit-scrollbar-track {
    width: 100%;
}

.list_scroll::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: rgb(187, 187, 187);
}

.board-list-container > h3 {
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 3;
    /* float: left; */
}

.list {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 0px 2px black;
    position: relative;
}

#board_remove_icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
<<<<<<< Updated upstream
=======
    color: #cbd5e0;
    font-size: 16px;
    transition: all 0.3s ease;
}

#board_remove_icon:hover {
    color: #f56565;
    transform: scale(1.1);
}

#like_button {
    cursor: pointer;
}

/* 반응형 */
@media screen and (max-width: 1200px) {
    .board_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .list:nth-child(3n) {
        border-right: 1px solid #e2e8f0;
    }

    .list:nth-child(2n) {
        border-right: none;
    }
}

@media screen and (max-width: 768px) {
    .board_container {
        padding: 20px;
    }

    .board_head_Text {
        font-size: 24px;
    }

    .board_list {
        grid-template-columns: 1fr;
    }

    .list {
        border-right: none;
    }

    .write_form {
        flex-direction: column;
    }

    .write_form > input {
        width: 100%;
    }

    .write_button {
        width: 100%;
    }

    .list_scroll {
        max-height: calc(100vh - 450px);
        max-height: calc(100dvh - 450px); /* 동적 뷰포트 높이 */
    }
}

@media screen and (max-width: 480px) {
    .board_container {
        padding: 15px;
    }

    .write_form_container {
        padding: 20px;
    }

    .board_head_Text {
        font-size: 20px;
    }

    .list {
        padding: 18px;
    }

    .list > h4 {
        font-size: 15px;
    }

    .list > p {
        font-size: 13px;
    }
>>>>>>> Stashed changes
}