.board_container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.board_head_Text {
    padding: 10px 0px 10px 0px; 
    font-size: 36px;
}

.write_form_container {
    width: 100%;
    height: 100px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px black;
    margin-bottom: 30px;
}

.write_form {
    /* width: 100%; */
    height: 100%;
    position: relative;
    margin-top: 10px;
    display: flex;
}

.write_form > input {
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 10px;
}

.write_button {
    width: 50px;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 2px black;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.board-list-container {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px black;
}

.board-list-container::-webkit-scrollbar {
    width: 7px;
    background-color: none;
}

.board-list-container::-webkit-scrollbar-track {
    width: 100%;
}

.board-list-container::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: rgb(187, 187, 187);
}

.board-list-container > h3 {
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 3;
    /* float: left; */
}

.list {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 0px 2px black;
}