/* 좋아요 버튼 스타일 */


.likeButton_Container {
    width: 120px;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: start;
}

#liked_button {
    font-size: 24px;
    margin-left: 5px;
    cursor: pointer;
}

.likeButton_Container > p {
    padding-top: 10px;
}

.likeButton_Container > * {
    margin: 0px;
}

.bi-hand-thumbs-up-fill {
    color: rgb(224, 0, 0);
}