.profile_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.location_back_button {
    cursor: pointer;
}

.profile_content_container {
    width: calc(100% - 200px);
    background: #f5f6fa;
    height: 100%;
    padding: 40px;
    float: right;
}

.like_list_container {
    width: 100%;
    height: 80px;
    padding: 20px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.like_list_container > h2 {
    margin-bottom: 30px;
}

.like_list_container > h2 > i {
    cursor: pointer;
}

.like_list_container > div {
    width: 100%;
    box-shadow: 0px 0px 2px black;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.like_list_container > div:hover {
    transform: scale(1.02);
}

.write_list_container {
    width: 100%;
    height: 80px;
    padding: 20px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 0px 5px black;
}

.write_list_container > h2 {
    margin-bottom: 30px;
}

.write_list_container > h2 > i {
    cursor: pointer;
}

.write_list_container > div {
    width: 100%;
    box-shadow: 0px 0px 2px black;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.write_list_container > div:hover {
    transform: scale(1.02);
}