#signIn_container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn_form { 
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text_input {
    width: 400px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0px 0px 2px black;
}

.submit_button {
    width: 400px;
    height: 50px;
    background-color: rgb(183, 222, 255);
    border: none;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
    font-weight: bold;
}

.location_back {
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    left: 50px;
    top: 50px;
    cursor: pointer;
    z-index: 10;
}

.empty_input {
    padding-top: 10px;
    opacity: 0;
    color: red;
}

.empty {
    opacity: 1;
}